.art1, .art2, .art3, .art4, .art5, .art6{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

.art1{
    background-color: aqua;
    border: aquamarine dotted .5rem;
}

.art2{
    background-color: red;
    border: sandybrown dashed .5rem;
}

.art3{
    background-color: green;
    border: darkorange solid .5rem;
}

.art4{
    background-color: yellow;
    border: blue dotted .5rem;
}

.art5{
    background-color: black;
    border: yellow dashed .5rem;
}

.art6{
    background-color: purple;
    border: royalblue solid .5rem;
}

.art7{
    background-color: royalblue;
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    padding: 4rem 4rem;
    margin: 0 auto;
}

.art8{
    background-color: rgb(117, 195, 212);
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    padding: 4rem 4rem;
    margin: 0 auto;
}

.art9{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    padding: 4rem 4rem;
    margin: 0 auto;
}

.art10{
    background-color: rgb(85, 180, 35);
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    padding: 4rem 4rem;
    margin: 0 auto;
}

.art11{
    background-color: purple;
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    padding: 4rem 4rem;
    margin: 0 auto;
}

.art12{
    background-color: rgb(27, 26, 27);
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    padding: 4rem 4rem;
    margin: 0 auto;
}

a{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 24px;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    border-radius: 50px;
    transition: background 2s ease;
    transition: font-size 1s ease-in-out;
}

a:hover{
    background: transparent;
    font-size: 48px;
}

.icon-facebook:hover{
    color: blue;
    transform: scale(2);
    transition: all 1000ms ease-in-out;
}

.icon-twitter:hover{
    color: blue;
    transform: scale(2);
    transition: all 1000ms ease-in-out;
}

.icon-instagram:hover{
    color: blue;
    transform: scale(2);
    transition: all 1000ms ease-in-out;
}

.icon-whatsapp:hover{
    color: blue;
    transform: scale(2);
    transition: all 1000ms ease-in-out;
}

.icon-twitch:hover{
    color: blue;
    transform: scale(2);
    transition: all 1000ms ease-in-out;
}

.icon-github:hover{
    color: blue;
    transform: scale(2);
    transition: all 1000ms ease-in-out;
}


@media (min-width: 720px){
    .art7{
        background-color: royalblue;
        border-radius: 50%;
        align-items: center;
        justify-items: center;
        padding: 6rem 5rem;
        margin: 0 auto;
    }

    .art8{
        background-color: rgb(117, 195, 212);
        border-radius: 50%;
        align-items: center;
        justify-items: center;
        padding: 6rem 5rem;
        margin: 0 auto;
    }
    
    .art9{
        background: rgb(131,58,180);
        background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
        border-radius: 50%;
        align-items: center;
        justify-items: center;
        padding: 6rem 5rem;
        margin: 0 auto;
    }
    
    .art10{
        background-color: rgb(85, 180, 35);
        border-radius: 50%;
        align-items: center;
        justify-items: center;
        padding: 6rem 5rem;
        margin: 0 auto;
    }
    
    .art11{
        background-color: purple;
        border-radius: 50%;
        align-items: center;
        justify-items: center;
        padding: 6rem 5rem;
        margin: 0 auto;
    }
    
    .art12{
        background-color: rgb(27, 26, 27);
        border-radius: 50%;
        align-items: center;
        justify-items: center;
        padding: 6rem 5rem;
        margin: 0 auto;
    }
}

