.art1, .art2, .art3, .art4, .art5, .art6{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

.art1{
    background-color: aqua;
    border: aquamarine dotted .5rem;
}

.art2{
    background-color: red;
    border: sandybrown dashed .5rem;
}

.art3{
    background-color: green;
    border: darkorange solid .5rem;
}

.art4{
    background-color: yellow;
    border: blue dotted .5rem;
}

.art5{
    background-color: black;
    border: yellow dashed .5rem;
}

.art6{
    background-color: purple;
    border: royalblue solid .5rem;
}

.art7{
    background-color: purple;
    border: royalblue solid .5rem;
    border-radius: 50%;
}

.art8{
    background-color: purple;
    border: royalblue solid .5rem;
    border-radius: 50%;
}

.art9{
    background-color: purple;
    border: royalblue solid .5rem;
    border-radius: 50%;
}

.art10{
    background-color: purple;
    border: royalblue solid .5rem;
    border-radius: 50%;
}

.art11{
    background-color: purple;
    border: royalblue solid .5rem;
    border-radius: 50%;
}

.art12{
    background-color: purple;
    border: royalblue solid .5rem;
    border-radius: 50%;
}
